spring:
  application:
    name: discovery-service

  config:
    import: configserver:http://localhost:8888

  cloud:
   config:
    fail-fast: true
    retry:
      max-attempts: 10
      initial-interval: 1000
      max-interval: 2000